header{
    height: 85px;
    background: black;
    border: whitesmoke 2px;
    padding: 1rem;
}
.nigra{
    height: 85px;
}
.logo{
    display: inline-block;
}

header ul{
    display: inline-block;
    color: white;
}
header li{
    display: none;
}
header ul:hover li{
    display:list-item;
}