header{
    height: 85px;
    background: black;
    border-bottom:solid whitesmoke 5px;
    padding: 1rem;
}
.nigra{
    height: 85px;
}
.logo{
    display: inline-block;
}

header ul{
    display: inline-block;
    color: white;
}
header li{
    display: none;
}
header ul:hover li{
    display:list-item;
}
footer{
    height: 85px;
    background: black;
    display: flex;
    align-items: flex-start;
    padding: 15px 30px;
    border-top:5px solid whitesmoke ;
    
}
main{
    height: 1000px;
    background: green;
}