header{
    height: 85px;
    background: black;
    border-bottom:solid whitesmoke 5px;
    padding: 1rem;
}
.nigra{
    height: 85px;
}
.logo{
    display: inline-block;
}

header ul{
    display: inline-block;
    color: white;
}
header li{
    display: none;
}
header ul:hover li{
    display:list-item;
}
footer{
    height: 85px;
    background: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 15px 30px;
    border-top:5px solid whitesmoke ;
    
}
.calle{
    color:white;
    display: grid;
    grid-column-start:5 ;

    
}
.marca{
    color:white;
    display: grid;
    grid-column-start:6 ;
    
    
}
main{
    height: 1000px;
    background: green;
}